body { 
    background-color: #f4f6f9; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.upload-box {
    border: 2px dashed #0d6efd;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.upload-box:hover { 
    background-color: #e9f2ff; 
}

.result-card { 
    border-left: 5px solid #198754; 
}

/* Utility untuk sembunyikan elemen */
.d-none {
    display: none !important;
}